$primary_color_bg: #455A64;
$primary_color_fg: #FFFFFF;

$secondary_color_bg: #607D8B;
$secondary_color_fg: #757575;

$accent_color_bg: #536DFE;
$accent_color_fg: #FFFFFF;

$divider-color : #BDBDBD;
