.top-bar, .top-bar ul {
  background-color: $primary_color_bg;
}

.top-bar {
  .menu-text {
    color: $primary_color_fg;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}
